{% extends "base.html" %}

{% block content %}
    <h1>Check Car Mileage</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.carname.label }}<br>
            {{ form.carname(size=32) }}<br>
            {% for error in form.carname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.current_miles.label }}<br>
            {{ form.current_miles(size=32) }}<br>
            {% for error in form.current_miles.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
